<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  
    <title>View Complaint</title>
    <% include /partials/head %>
</head>
<body>
    <!-- Left Panel -->

    
  
    <% include /partials/left %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
      
    <% include /partials/header %>  
      
      <!-- Header-->

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Student's Complaint</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Student Complaints</a></li>
                                    <li class="active">New Complaint</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">

                <div class="row">

                   
                    <div class="col-md-7 col-sm-12">
                        <div class="card">
                            <div class="card-header"><strong>Student Information</strong></div>
                            <div class="card-body card-block">

                                <p class="">Admission No: <%= complaint.s_id %></p>

                                <p class="card-text">Name: <%= complaint.fname %> <%= complaint.lname %></p>
                                
                                <p class="card-text">Class: <%= complaint.class %></p>

                                <p class="card-text">Complaint: <%= complaint.complaint %></p>
                                <p class="card-text">Date Attended to: <%= complaint.date %></p>
                              
                              
                                <p class="card-text">Nurse Feedback: <%= complaint.feedback %> 
                              
                                 
                              </p>
                             
                              
                              
                                <p class="card-text">Treatment Administered: <%= complaint.treatment %></p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="card">
                            <div class="card-header"><strong>Update Complaint Information</strong></div>
                            <div class="card-body card-block">
                                
                                <form method="POST" action="/update-complaint">
                                  
                                  <div class="form-group"><label for="feedback" class=" form-control-label">Nurse Feedback</label>
                                    <textarea name="feedback" id="feedback" rows="6" placeholder="Enter Feedback" class="form-control"></textarea>
                                </div>
                                  
                                  <input hidden name="cid" type="text" value="<%= complaint.c_id %>"  >
                                  
                                  <input hidden name="p_feedback" type="text" value="<%= complaint.feedback %>"  >
                                
                                
                                <div class="form-group"><label for="treatment" class=" form-control-label">Treatment Administered</label>
                                    <textarea name="treatment" id="treatment" rows="6" placeholder="Enter Treatment Administered" class="form-control"></textarea>
                                </div>
                                
                                
                                  <input hidden name="p_treatment" type="text" value="<%= complaint.treatment %>" >
                                
                                <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Save</button></div>

                                  
                              </form>
                                
                            </div>
                        </div>
                    </div>


                    
                    

            </div>


        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    
      
    <% include /partials/footer %>
</body>
</html>
