<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  
    <title>View Student</title>
    
  <% include /partials/head %>
    
</head>
<body>
    <!-- Left Panel -->

    <% include /partials/left %>
    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
      <% include /partials/header %>
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Student Information</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Student Records</a></li>
                                    <li class="active">View Profile</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">


                <div class="row">
                    <div class="col-md-1">
                    </div>

                    <div class="col-md-7 col-sm-12">
                        <div class="card">
                            <div class="card-header"><strong>Student Information</strong></div>
                            <div class="card-body card-block">
                              
                              <form method="POST" action="/update-student"> 
                                
                                <input hidden name="s_id" type="text" id="sid"  value="<%= student.s_id %>">
                                
                                
                          
                                <div class="form-group"><label for="Sid" class=" form-control-label">Admission No.</label>
                                    <input disabled="" name="" type="text" id="sid" placeholder="Enter Student's Admission No." class="form-control" value="<%= student.s_id %>"></div>
                                
                                <div class="form-group"><label for="fname" class=" form-control-label">First Name</label>
                                    <input disabled="" name="fname" type="text" id="fname" placeholder="Enter Student's First Name" class="form-control" value="<%= student.fname %>">
                                  </div>
                                <div class="form-group"><label for="lname" class=" form-control-label">Last Name</label>
                                    <input disabled="" name="lname" type="text" id="lname" placeholder="Enter Student's Last Name" class="form-control" value="<%= student.lname %>">
                              </div>
                                
                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">Class</label></div>
                                    <div class="col-12 col-md-12">
                                        <select name="class" id="class-select" class="form-control">
                                          
                                          <%
var options = [ "JS 1", "JS 2", "JS 3", "SS 1", "SS 2", "SS 3" ];
for ( var i = 0; i < options.length; i++ )
{
    var selected = ( student.class == i ) ? "selected" : "";
    %><option value="<%=options[ i ] %>" <%=selected %>><%= options[ i ] %></option><%
}
%>
                                          
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">House</label></div>
                                    <div class="col-12 col-md-12">
                                      
                                      <input disabled="" name="house" type="text" id="" placeholder="" class="form-control" value="<%= student.house %>">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-12"><label for="select" class=" form-control-label">Gender</label></div>
                                    <div class="col-12 col-md-12">
                                      <input disabled="" name="gender" type="text" id="" placeholder="" class="form-control" value="<%= student.gender %>">
                              
<!--                                         <select name="gender" id="gender-select" class="form-control" disabled="">
                                            <option value="0">Please select</option>
                                            <option value="Male">
                                                Male
                                            </option>
                                            <option value="Female">
                                                Female
                                            </option>
                                        </select> -->
                                    </div>
                                </div>

                                <div class="form-group"><label for="Date_of_Birth" class=" form-control-label">D.O.B (DD/MM/YYYY)</label>
                                    <input disabled="" name="dob" type="text" id="Date_of_Birth" placeholder="Enter Student's Date of Birth" class="form-control" value="<%= student.dob %>">
                                </div>

                                <div class="form-group"><label for="Height" class=" form-control-label">Height(cm)</label>
                                    <input  name="height" type="number" id="Height" placeholder="Enter Student's Height" class="form-control" value="<%= student.height %>">
                                </div>
                                <div class="form-group"><label for="Weight" class=" form-control-label">Weight(kg)</label>
                                    <input name="weight" type="text" id="Blood_type" placeholder="Enter Student's Blood type" class="form-control" value="<%= student.weight %>">
                                </div>
                                
                                <div class="form-group"><label for="Allergies" class=" form-control-label">Allergies</label>
                                    
                                    <textarea disabled="" name="allergy" id="allergy" rows="6" placeholder="Enter Student's Allergies" class="form-control" value="">
                                  <%= student.allergy %>
                                  </textarea>
                                </div>
                                
                                
                                <div class="form-group"><label for="Prior_health_issues" class=" form-control-label">Prior health issues</label>
                                    <textarea disabled="" name="prior_health" id="prior-h" rows="6" placeholder="Enter Student's Health Issues" class="form-control" value="">
                                  <%= student.prior_health %>
                                  </textarea>
                                </div>
                                
                                
                                <div class="form-group"><label for="Prior_med" class=" form-control-label">Prior Medication</label>
                                    <textarea disabled="" name="prior_med" id="pr-med" rows="6" placeholder="Enter Student's Medication" class="form-control" >
                                      <%= student.prior_med %>
                                  </textarea>
                                </div>
                                
                                
                                
                                <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Save</button></div>

                                
                              </form>

                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="card">
                            <div class="card-body card-block">

<!--                                 <button class="btn btn-success btn-block">View Complaints</button> -->
                              <a href="/view-s-complaints/?sid=<%= student.s_id %>" class="btn btn-success btn-block">View Complaints</a>
                                
                                <a href="/add-complaint/<%= student.fname %>/<%= student.lname %>/?sid=<%= student.s_id %>" class="mt-4 btn btn-primary btn-block">Add Complaint</a>
                                
                            </div>
                        </div>
                    </div>
                    
                    

            </div>


        </div><!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

      <% include /partials/footer %>


</body>
</html>
