<div style="width:100%;max-width:700px;margin:0 auto">
  <div class="adM">
					</div><img src="https://ci5.googleusercontent.com/proxy/IiIl36_rWefEK9k2Lozpa4WfMrHyETBzSd9R7Y-kcC_jRxACRnPgINIdONsJrXyOEMJ40H1CDw=s0-d-e1-ft#https://chopnownow.com//img/logo.png" alt="chopnownow Logo" title="chopnownow" class="CToWUd a6T" tabindex="0" height="100px"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 242px; top: 122.5px;"><div id=":2rb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
					<div style="border:#solid thin #ccc;background-color:#e1e1e1;padding:10px">
						<h2>An order has been concluded successfully.</h2>
												<h3>Order Reference: <span color="red">{{oid}}</span></h3>
												Date/Time: {{cdate}}<br> 
												Details:
            <div style="margin:5px;padding:15px;background:#fbfbfb">
              
            {{#each items}}
              
              {{title}} {{price}} * {{quantity}}: {{t_price}}
              <br>
              
              {{/each}}
              
              <br><br><br>
              
              <strong>Cart Total: {{item_total}}</strong>
              <br>
			   <strong>Discount: -N {{disc}}</strong><br />
              <strong>Delivery Fee: N {{ delivery }}</strong> <br />
              <strong>Total {{c_amt}}</strong>
              <br>
              
            </div>
												
												<strong>Selected Delivery Method:</strong> Delivery
												<br>
												
												<strong>Selected Delivery Time</strong>: {{slot}}<br>
												
												
												<strong>Address:</strong> {{address}}<br>
												<strong>District:</strong> {{district}} <br>
								  <strong>Extra Info:</strong> {{info}}
												
												
												<h3>Customer Details</h3>
												Customer: {{ cname }}<br>
            Email: <a href="mailto:{{cmail}}" target="_blank">{{cmail}}</a><br>
            Phone: {{phone}}<br>
            Address: {{address}}<br>
            <h3>Store</h3><span class="il">chopnownow</span><br><br>
												Kindly follow up and fulfil.
												<p><strong><span class="il">chopnownow</span></strong></p>
					</div>
				</div>
				<div style="border-top:#solid thin #333;background:#fff;padding:15px;font-size:0.8em">
						Email: <a href="mailto:support@chopnownow.com" target="_blank">support@<span class="il">chopnownow</span>.com</a> or visit our <a href="https://chopnownow.com//contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://chopnownow.com//contact.html&amp;source=gmail&amp;ust=1583364428594000&amp;usg=AFQjCNFEidFiWGuERsN7xw56vYkM7_7euw">contact page</a> <br> 
<strong>Disclaimer:</strong> <p>Information contained in this email is confidential and intended for the addressee only. Any dissemination, distribution, copying or use of this
communication without prior permission from the addressee is strictly prohibited. If you are not the intended recipient of this communication, please delete it permanently without copying, disclosing or otherwise using its contents, and notify <span class="il">chopnownow</span> immediately.</p><div class="yj6qo"></div><div class="adL"><p></p><p></p></div></div><div class="adL">
			</div>